<!doctype html>

<html>

<head>
  <title>coral payments</title>
	<link rel="stylesheet" media="screen,projection" href="css/bootstrap.css">
	<link rel="stylesheet" media="screen,projection" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" media="screen,projection" href="css/style.css">
	<link rel="stylesheet" media="screen,projection" href="css/dashboard.css">
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery.cookie.js"></script>
	<script type="text/javascript" src="js/underscore.js"></script>
	<script type="text/javascript" src="js/backbone.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/bootstrap-modal.js"></script>
	<script type="text/javascript" src="js/bootstrap-tooltip.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/dashboard.js"></script>
	<script type="text/javascript" src="js/account.js"></script>
	<script type="text/javascript" src="js/plan.js"></script>
	<script type="text/javascript" src="js/profile.js"></script>
	<script type="text/javascript" src="js/charge.js"></script>
	<script type="text/javascript" src="js/chart.js"></script>

	<script>
		// Initialize backbone models
		var account = new Account();
		var plans = new PlanCollection();
		var profiles = new ProfileCollection();
		var charges = new ChargeCollection();

		$(document).ready(function() {
			// Initialize backbone views
			var account_view = new AccountView({model: account, el: $('div#account')});
			var plan_view = new PlanView({collection: plans, el: $('div#plan')});
			var profile_view = new ProfileView({collection: profiles, el: $('div.container')});
			var charge_view = new ChargeView({collection: charges, el: $('div.container')});

			// Load in bootstrapped data served by sinatra
			account.set(<%= @account.as_hash.to_json %>);
			plans.reset(<%= @account.plans.map(&:as_hash).to_json %>);
			profiles.reset(<%= @account.profiles.map(&:as_hash).to_json %>);
			charges.reset(<%= @account.profiles.all.reduce([]) {|ps,p| ps.concat(p.charges.map(&:as_hash))}.to_json %>);
		});
	</script>


	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div id="dashboard" class="container drop-shadow">

	<div id="account">
		<%= erb :nav %>
		<h2 id="account-name"><%= @account.name %></h2>
		<%= erb :'forms/settings' %>
	</div>

	<div class="tab-pane active" id="chart"> </div>

	<div id="plan">
		<%= erb :'templates/plan_template' %>
		<%= erb :'forms/new_plan' %>
		<%= erb :'forms/edit_plan' %>
		<%= erb :'modals/share_plan' %>
	</div>


	<div id="profile">
		<%= erb :'templates/profile_table_template' %>
		<div id="profile-table"></div>
		<%= erb :'modals/new_profile' %>
		<%= erb :'modals/edit_profile' %>
	</div>

	<div id="charge">
		<h3>Payment History</h3>
		<%= erb :'templates/charge_table_template' %>
		<div id="charge-table"></div>
		<%= erb :'modals/new_charge' %>
		<%= erb :'modals/edit_charge' %>
	</div>

</div>

</body>
</html>
