<!doctype html>

<html>

<head>
  <title>Coral - Dashboard</title>
	<link rel="stylesheet" media="screen,projection" href="css/bootstrap.css">
	<link rel="stylesheet" media="screen,projection" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" media="screen,projection" href="css/jquery.jqplot.css">
	<link rel="stylesheet" media="screen,projection" href="css/style.css">
	<link rel="stylesheet" media="screen,projection" href="css/dashboard.css">

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery.cookie.js"></script>

	<script type="text/javascript" src="js/flot/jquery.flot.js"></script>

	<script type="text/javascript" src="js/underscore.js"></script>
	<script type="text/javascript" src="js/backbone.js"></script>

	<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>

	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/bootstrap-modal.js"></script>
	<script type="text/javascript" src="js/bootstrap-tooltip.js"></script>


	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/incoming.js"></script>
	<script type="text/javascript" src="js/account.js"></script>
	<script type="text/javascript" src="js/plan.js"></script>
	<script type="text/javascript" src="js/payment_method.js"></script>
	<script type="text/javascript" src="js/profile.js"></script>
	<script type="text/javascript" src="js/bank_account.js"></script>
	<script type="text/javascript" src="js/subscription.js"></script>
	<script type="text/javascript" src="js/charge.js"></script>
	<script type="text/javascript" src="js/chart.js"></script>

	<script>


		$(document).ready(function() {

			// Initialize the master view
			var v = new Router({el: $('div.container')});

			// Load in bootstrapped data served by sinatra
			v.account.set(<%= @account.as_hash.to_json %>);
			v.plans.reset(<%= @account.plans.map(&:as_hash).to_json %>);
			v.profiles.reset(<%= @account.profiles.map(&:as_hash).to_json %>);
			// Payment methods, subscriptions, and charges are all loaded inside the profiles
		});
	</script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<!-- the universal ajax loading indicator -->
<div class="progress progress-striped active hide" id='ajax-loader'>
	<div class="bar" style="width: 100%;"></div>
</div>

<%= erb :'meta/test_tag' %>

<div class="container">



	<div id='account'>
		<div class='row'>
			<div class='span12'>
				<%= erb :'meta/nav' %>
				<h1 id="account-name"><%= @account.name %></h1>
			</div>
		</div>

		<div class='row'>
			<%= erb :'modals/edit_account' %>
		</div>

	</div>

	<div class="visualization drop-shadow row">
		<div id="chart">Graph goes here!</div>
	</div>

	<div class="data drop-shadow row">

		<%= erb :'modals/new_plan' %>
		<%= erb :'modals/edit_plan' %>
		<%= erb :'modals/share_plan' %>
		<%= erb :'forms/edit_profile' %>

		<div class='row data-row'>
			<%= erb :'meta/plans' %>
			<%= erb :'tables/profiles' %>
			<div class='span3'>
				<div id='plan-nav-container'> </div>
			</div>
			<div class='span9'>
				<div id='profiles-container'>
				</div>
			</div>
		</div>
	</div>

		<div id='charge' class='hide'>
			<h3>Payments</h3>
			<div id="charge-table"></div>
		</div>
	</div>


</div>

	<div id='footer'>
		<!-- <a class="logo" href="/">coral</a> -->
	</div>

</body>
</html>
