<!doctype html>

<html>

<head>
  <title>coral payments</title>
	<link rel="stylesheet" media="screen,projection" href="/css/bootstrap.css">
	<link rel="stylesheet" media="screen,projection" href="/css/bootstrap-responsive.css">
	<link rel="stylesheet" media="screen,projection" href="/css/style.css">
	<link rel="stylesheet" media="screen,projection" href="/css/public.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="js/bootstrap-modal.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/public.js"></script>

	<script>
		var profile_id = '<%= @profile_user.id %>';
	</script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<div class='container'>

		<div class='row'><div class='span12'>
			<h2 id='name'><%= @profile_user.name %></h2>

			<ul id='profile-actions'>
				<li><a class='btn' href="/logout"><i class='icon-off'></i> Logout</a></li>
				<li><a id='edit-profile-button' href='#' class='btn'><i class='icon-wrench'></i> Settings</a></li>
			</ul>

		</div> </div>

		<div class='profile-settings hide row'><div class='span12'>
		
			<form id="edit-profile" class='form-horizontal well'>

				<p id="edit-profile-error" class='form-error'></p>

				<div class='control-group'>
					<label class='control-label'>Name</label>
					<div class='controls'>
						<input type="text" name="name" value="<%= @profile_user.name %>" />
					</div>
				</div>

				<div class='control-group'>
					<label class='control-label'>Email</label>
					<div class='controls'>
						<input type="text" name="email" value="<%= @profile_user.email %>" />
					</div>
				</div>

				<div class='modal-form-actions'>
					<button class='btn' id="edit-profile-submit">Save</button>
					<button class='btn' id="close-profile-settings">Cancel</button>
					<img id='edit-profile-loader' class='loader hide' src='img/ajax-loader.gif' />
				</div>
			</form>
		</div></div>

		<div class='subscriptions drop-shadow row'>

			<h3 id='table-title'>Subscriptions</h3>
			<a href='#' id='table-toggler' style='float:right'>Payments</a>
			<table class="table" id='subscription-table'>
				<tbody>
				<% @profile_user.subscriptions.each do |sub| %>
					<tr>
						<td id='plan-name'><%= sub.plan.name %></td>
						<td>
							<strong>$<%= sub.plan.amount %></strong>
							every <strong><%= sub.plan.cycle_str %></strong>
						</td>
						<td>Since <strong style='white-space:nowrap;'><%= sub.created_at.to_date %></strong></td>
						<% if sub.expiration_date %>
							<td>Expires <strong><%= sub.expiration_date.to_date %></strong></td>
						<% end %>
						<td>Paying with <strong> x</strong> <a class='change-pm-btn' href='#'>(change)</a></td>
						<td><a id='unsubscribe-btn' class='btn' href='#' style='white-space:nowrap;'><i class='icon-remove'></i> Unsubscribe</a></td>
					</tr>
				<% end %>
				<tr id='new-plan-form' class='hide'>
					<td colspan='5'>
						<p id='new-plan-error' class='form-error'></p>

						<form class='form-horizontal' id='new-plan-form'>

							<div class='control-group'>
								<label class='control-label'>Receiver's Email</label>
								<div class='controls'>
									<input type='text' name='name' /> 
									<p class='help-block'>An invitation email will be sent to the person whom you would like to pay</p>
								</div>
							</div>

							<div class='control-group'>
								<label class='control-label'>Name of Recurring Payment</label>
								<div class='controls'>
									<input type='text' name='name' /> 
								</div>
							</div>

							<div class='control-group'>
								<label class='control-label'>Recurring charge of</label>
								<div class='controls'>
									<div class='input-prepend'>
										<span class='add-on'>$</span>
										<input type='text' name='amount' style='width:4em;' />
									</div>
									<span>&nbsp; every &nbsp;</span>
									<select style='width:8em;' name='cycle'>
										<option>1 month</option>
										<option>2 weeks</option>
										<option>2 months</option>
										<option>3 months</option>
										<option>6 months</option>
										<option>1 year</option>
									</select>
								</div>
							</div>

							<div class='control-group'>
								<label class='control-label'>Initial charge</label>
								<div class='controls'>
									<div class='input-prepend'>
										<span class='add-on'>$</span>
										<input type='text' name='initial_charge' style='width:4em;' />
									</div>
								</div>
							</div>

							<div class='control-group'>
								<label class='control-label'>Starting date</label>
								<div class='controls'>
									<input type="date" placeholder="Today" />
								</div>
							</div>

							<div class='modal-form-actions'>
								<button class='btn' id="new-plan-submit">Save</button>
								<button class='btn' id="cancel-new-plan">Cancel</button>
								<span style='float:right'><a href='#'>Looking to receive recurring payments?</span>
							</div>
						</form>
					</td>
				</tr>
				<tr class='new-plan-button'>
					<td colspan='5'><a href='#'><i class='icon-plus'></i> New recurring payment</a></td>
					</tr>
				</tbody>
			</table>

			<table id='payments-table' class="table hide">
				<tbody>
					<tr>
						<td>x</td>
					</tr>
				</tbody>
			</table>

	</div>


	<div id='confirm-unsubscribe' class='modal hide'>
		<div class='modal-body'>
			<p>Are you sure you wish to end this recurring payment? Your payment history will remain intact.</p>
		</div>
		<div class='modal-footer'>
			<button class='btn-danger' id="unsubscribe-submit">Unsubscribe</button>
			<button class='btn' id="cancel-unsubscribe" data-dismiss='modal'>Cancel</button>
		</div>
	</div>

	<div id='new-payment-method' class='modal hide'>
		<div class='modal-body'>
			<h4>New Payment Method</h4>
			<p id="new-payment-method-error" class='form-error'></p>
			<form id='new-payment-method-form'>
				<select class='new-payment-method-type' name='pay_type'>
					<option id='new-credit-card'>Credit Card</option>
					<option id='new-echeck'>E-check</option>
				</select>
				<div class='credit-card-selected'>
					<label>Card Number</label>
					<input id="" type="text" name="cc_number" value=""/>
					<label>Expiration</label>
					<input id="" type="text" name="expiration" value=""/>
				</div>
				<div class='echeck-selected hide'>
					<label>Account Number</label>
					<input id="" type="text" name="acct_number" value=""/>
				</div>

				<div class="modal-form-actions">
					<button class='btn' id="cancel-unsubscribe">Save</button>
					<button class='btn' id="cancel-unsubscribe" data-dismiss='modal'>Cancel</button>
				</div>
			</form>
		</div>
	</div>


	<div id='footer'></div>

</body>
</html>
