<!doctype html>

<html>

<head>
  <title>coral payments</title>
	<link rel="stylesheet" media="screen,projection" href="/css/bootstrap.css">
	<link rel="stylesheet" media="screen,projection" href="/css/bootstrap-responsive.css">
	<link rel="stylesheet" media="screen,projection" href="/css/style.css">
	<link rel="stylesheet" media="screen,projection" href="/css/dashboard.css">
	<link rel="stylesheet" media="screen,projection" href="/css/share.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/js/underscore.js"></script>
	<script type="text/javascript" src="/js/backbone.js"></script>
	<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/share.js"></script>

	<script>
	 //[[ for(var i = 1; i < 13; i++) { ]]
	 //  <option>{{i}}</option>
	 //  [[ } ]]
	 //  </select>
	 //  [[ var year = (new Date).getFullYear(); ]]
	 //  <select name='expiration_year' style='width:6em;'>
	 //  <option>Year</option>
	 //  [[ for(var i = year; i < year + 10; i++) { ]]
	 //    <option>{{ i }}</option>
	 //[[ } ]]
	</script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="container">

	<div id='share-desc' class='drop-shadow'>

		<% if @plan %>
			<h1><%= @plan.account.name %></h1>
			<h2><%= @plan.name %></h2>
			<p><strong>$<%= "%.2f" % @plan.amount
				%></strong> every <strong><%= @plan.cycle_length if @plan.cycle_length != 1%> <%= @plan.cycle_type
				%></strong> 
				<% if @plan.initial_charge > 0 %>
					and an initial charge of <strong>$<%= "%.2f" % @plan.initial_charge %></strong></p>
				<% end %>

		<div id='share-signup' class='hide'>
			<input id="account-id" type="hidden" value="<%= @plan.account.id %>" />
			<div class='alert alert-error hide'></div>
			<form method="post" class="" id="share-signup-form">

				<label></label>
				<input type="text" name="name" placeholder="Name" />

				<label></label>
				<input type="text" name="email" placeholder="Email" />

				<label></label>
				<input type="password" name="password" placeholder="Password" />

				<input type="hidden" name="sub_plan_id" value="<%= @plan.id %>" />

				<div class="share-form-actions">
					<input class="btn" id="share-signup-submit" name="commit" type="submit" value="Sign Up" />
				</div>
			</form>

			<form id='new-pm-form' class='form-horizontal hide'>
			  <legend>Add a Payment Method</legend>
				<div class='control-group'>
				  <div class='controls'>
					 <select class='new-payment-method-type' name='pay_type'>
						 <option id='new-credit-card'>Credit Card</option>
						 <option id='new-echeck'>E-check</option>
					 </select>
				  </div>
				</div>

				  <div class='credit-card-selected'>
					 <div class='control-group'>
						<label class='control-label'>Card Number</label>
						<div class='controls'>
						  <input id="" type="text" name="card_number" />
						</div>
					 </div>

					 <div class='control-group'>
						<label class='control-label'>Expiration</label>
						<div class='controls'>
						  <select name='expiration_month' style='width:6em;'>
							 <option>Month</option>
							 <option>01</option>
							 <option>02</option>
							 <option>03</option>
							 <option>04</option>
							 <option>05</option>
							 <option>06</option>
							 <option>07</option>
							 <option>08</option>
							 <option>09</option>
							 <option>10</option>
							 <option>11</option>
							 <option>12</option>
						  </select>
						  <select name='expiration_year' style='width:6em;'>
							 <option>Year</option>
							 <option>2012</option>
							 <option>2013</option>
							 <option>2014</option>
							 <option>2015</option>
							 <option>2016</option>
							 <option>2017</option>
							 <option>2019</option>
							 <option>2020</option>
						  </select>
						</div>
					 </div>

					 <div class='control-group'>
						<label class='control-label'>Security Code</label>
						<div class='controls'>
						  <input id="" type="text" name="security_code" value="" style='width:3em;' />
						</div>
					 </div>
				</div>

				  <div class='echeck-selected hide'>
					 <label class='control-label'>Account Number</label>
					 <input id="" type="text" name="acct_number" value=""/>
				  </div>

				  <div class="share-form-actions">
					  <input class="btn" id="new-pm-submit" name="commit" type="submit" value="Save" />
				  </div>
				</form>

			<% elsif @acct %>
				<p><%= @acct.name %></p>
			<% end %>
		</div>

	</div>

	<a href='#' id='signup-title' class='btn'>Sign Up</a>



</div>

<div id='share-footer'>
	<a class='logo'></a>
</div>


</body>
</html>
